@import url(./reset.css);
@import url(./var.css);

* {
    box-sizing: border-box;
}

body,
html {
    font-family: var(--font-family);
    font-size: 17px;
    color: var(--text);
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-top: 17px;
    margin-bottom: 17px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.menu__link {
    /* text-decoration: none; */
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text);
}

.menu__link:hover,
.menu__link.active {
    color: var(--orange);
}

.button {
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    border: 1px solid var(--border-button);
    background-color: inherit;
    color: var(--text);

}

.sign_in {
    margin-right: 32px;
}

.hero {
    padding-top: 70px;
    padding-bottom: 50px;
}

.hero-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-light);
    width: 500px;
    margin-bottom: 20px;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-gradient {
    width: 100%;
    min-height: 400px;
    background: linear-gradient(180deg, #FFF4E500 0%, #FFE5D2A0 100%);

    /* Создаем эллипс: 
     110% — ширина (больше 100 для пологости), 
     100% — высота. 
     at 50% 0% — центр круга вверху посередине */
    clip-path: ellipse(110% 100% at 50% 0%);
}

.tools-title {
    /* width: 539px; */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.tools-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

.tools-subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 16px;
}

.tools-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-tool);
}

.button-tools {
    display: block;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.benefits-left {
    width: 525px;
}

.benefits-left>p,
.product-managers-right>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-tool);
}

.benefits-list-item>h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.benefits-list-item>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.descriptin {
    margin-bottom: 40px;
}

.product-managers-right {
    width: 505px;
}

/* .list{
    display: flex;
} */
.list-item {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.list-item-text {
    width: 440px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

footer {
    border-top: 1px solid #BCD0E57F;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer>.flex-container {
    align-items: flex-start;
}

.col>h3 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.menu_quick_item,
.menu_staff_item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}

.menu_quick_item:last-child,
.menu_staff_item:last-child {
    margin-bottom: 0;
}

.menu_quick_link,
.menu_staff_link {
    color: var(--text-light);
}

.form-title {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

input {
    width: 340px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border: 1px solid var(--border-button);
}

input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--border-button);


}