:root {
    --width-container: 1200px;
    --font-family: "Montserrat", sans-serif;
    --second-family: "FontAwesome", sans-serif;
    --third-family: "Gotham", sans-serif;
    --font3: "Poppins", sans-serif;
    --white: #ffffff;
    --text: #2f281e;
    --text-tool:#544837;
    --text-light:#544837;
    --orange: #FF9900;
    --border-button: #BCD0E5;

}