:root {
    --width-container: 1200px;
    --font-family: "Montserrat", sans-serif;
    --second-family: "FontAwesome", sans-serif;
    --third-family: "Gotham", sans-serif;
    --font3: "Poppins", sans-serif;

}